/* styles.css */
:root {
/* CSS HEX */
--vintage-lavender: #966b9dff;
--dusty-rose: #c98686ff;
--light-caramel: #f2b880ff;
--seashell: #fff4ecff;
--powder-petal: #e7cfbcff;
}

html {
background-color: var(--light-caramel);
}
h1 {
  color: var(--seashell);
}
